# Virtual environment
.env/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Ignore the migration files, except for __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignore the SQLite database file
*.sqlite3

# Ignore generated static files
/staticfiles/

# Ignore environment-specific settings
/.vscode/
/.idea/
